extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 URL dashboard
        br
        .row
            .col-md-2.col-md-offset-1 Location
            .col-md-8 URL
        hr
        each client in clients
            .row
                .col-md-2.col-md-offset-1 #{client.locationName}
                .col-md-8
                    a(href="/feed/"+client.clientId+"/xml" ) /feed/#{client.clientId}/xml
